@import "tailwindcss";

@theme {
  --color-background: #F8F9FA;
  --color-secondary-background: #f1f1f1;
  --color-primary: #6C5CE7;
  --color-secondary: #155dfc;
  --color-text: #2C3E50;
  --color-text-secondary: #7D7D7D;
  --color-success: #00B894;
  --color-error: #D63031;
  --color-border: #D1D5DB;
  --color-primary_v1: #A29BFE;
  --color-secondary_v1: #00BFA5;
  --color-card-background: #FFFFFF;
  --color-card-text: #2C3E50;
  --color-card-border: #E0E0E0;
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #121212;
    --color-secondary-background: #3c3c3c;
    --color-primary: #A29BFE;
    --color-secondary: #00BFA5;
    --color-text: #EAEAEA;
    --color-text-secondary: #A0A0A0;
    --color-success: #00FF9D;
    --color-error: #FF7675;
    --color-border: #696969;

    --color-card-background: #212121;
    --color-card-text: #EAEAEA;
    --color-card-border: #333;
  }
} */


:root {
  --background: var(--color-background);
  --foreground: var(--color-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Urbanist", sans-serif;
}

.center {
  @apply flex justify-center items-center
}

.secondary-button {
  position: relative;
  padding: 10px 30px;
  font-weight: 500;
  color: #00CEC9;
  background: transparent;
  border-radius: 999px;
  overflow: hidden;
}


.secondary-button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}


.layoutx {
  @apply px-[20px] sm:px-[25px] md:px-[30px] lg:px-[40px] xl:px-[50px]
}

.layout {
  @apply p-[10px] sm:p-[20px] md:px-[30px] lg:px-[40px] xl:px-[50px] md:py-[20px] lg:py-[25px]
}

.layouty {
  @apply py-[10px] sm:py-[20px] md:py-[30px] lg:py-[40px] xl:py-[50px]
}

.horizontally-center {
  @apply flex items-center gap-[10px] md:gap-[15px]
}

.p1 {
  @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px]
}

.p2 {
  @apply text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px]
}

.p3 {
  @apply text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px] xl:text-[17px]
}

.brandname {
  @apply text-[40px] sm:text-[46px] md:text-[50px] lg:text-[56px] xl:text-[62px] leading-tight
}

.points-ul li {
  @apply flex items-start gap-[10px]
}

.card-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--color-secondary)
}

.card-container,
.card-container .heading,
.card-container .subheading {
  transition: all 200ms ease-in-out;
  z-index: 1;
}

.card-container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-container .card-child {
  transition: all 200ms ease-in-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-container:hover .card-child {
  scale: 1.1;
  rotate: 1deg;
}

.card-container .subheading {
  opacity: 0;
}

.card-container:hover .heading {
  opacity: 0;
}

.card-container:hover .subheading {
  opacity: 1;
}

.li {
  list-style-type: disc;
}


@page {
  margin: 0;
}

.Urbanist {
  font-family: "Urbanist";
}

.sans-serif {
  font-family: "sans-serif" ;
}

.Times-New-Roman{
  font-family: 'Times New Roman' ;
}

.Arial {
  font-family: "Arial";
}

.Calibri {
  font-family: "Calibri";
}

.Georgia {
  font-family: "Georgia";
}

.Garamond {
  font-family: "Garamond";
}

.Helvetica {
  font-family: "Helvetica";
}

.Lato {
  font-family: "Lato";
}

.Montserrat {
  font-family: "Montserrat";
}

.Poppins {
  font-family: "Poppins";
}

.Roboto {
  font-family: "Roboto";
}

.Open-Sans {
  font-family: "Open Sans";
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-only,
  .print-only * {
    visibility: visible;
  }

  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    background: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

  }

  .print-only {
    box-shadow: none !important;
    border: none !important;
  }

  .print-only div,
  .print-only span,
  .print-only p {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-only#small p {
    @apply !text-[12px];
  }
  
  .print-only#small h1 {
    @apply !text-[24px] !leading-tight;
  }
  .print-only#small h2 {
    @apply !text-[20px] !leading-tight;
  }
  .print-only#small h3 {
    @apply !text-[18px] !leading-tight;
  }
  .print-only#small h4 {
    @apply !text-[16px] !leading-tight;
  }
  .print-only#small h5 {
    @apply !text-[14px] !leading-tight;
  }
  .print-only#small h6 {
    @apply !text-[12px] !leading-tight;
  }
  
  .print-only#medium p {
    @apply !text-[14px];
  }
  
  .print-only#medium h1 {
    @apply !text-[28px] !leading-tight;
  }
  .print-only#medium h2 {
    @apply !text-[24px] !leading-tight;
  }
  .print-only#medium h3 {
    @apply !text-[20px] !leading-tight;
  }
  .print-only#medium h4 {
    @apply !text-[18px] !leading-tight;
  }
  .print-only#medium h5 {
    @apply !text-[16px] !leading-tight;
  }
  .print-only#medium h6 {
    @apply !text-[14px] !leading-tight;
  }
  
  .print-only#large p {
    @apply !text-[16px];
  }
  
  .print-only#large h1 {
    @apply !text-[36px] !leading-tight;
  }
  .print-only#large h2 {
    @apply !text-[30px] !leading-tight;
  }
  .print-only#large h3 {
    @apply !text-[24px] !leading-tight;
  }
  .print-only#large h4 {
    @apply !text-[20px] !leading-tight;
  }
  .print-only#large h5 {
    @apply !text-[18px] !leading-tight;
  }
  .print-only#large h6 {
    @apply !text-[16px] !leading-tight;
  }
  
  .print-only#extralarge p {
    @apply !text-[20px];
  }
  
  .print-only#extralarge h1 {
    @apply !text-[48px] !leading-tight;
  }
  .print-only#extralarge h2 {
    @apply !text-[40px] !leading-tight;
  }
  .print-only#extralarge h3 {
    @apply !text-[32px] !leading-tight;
  }
  .print-only#extralarge h4 {
    @apply !text-[28px] !leading-tight;
  }
  .print-only#extralarge h5 {
    @apply !text-[24px] !leading-tight;
  }
  .print-only#extralarge h6 {
    @apply !text-[20px] !leading-tight;
  }
  


}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}